* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    padding: 16px 0;
    color: #0a0a0a;
    display: flex;
    justify-content: center;
}

header button {
    margin-left: 16px;
}

form {
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px
}

input, button {
    padding: 8px;
    margin-left: 16px;
}

button {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #0a0a0a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    font-size: 20px;
}

.riscarTarefa {
    text-decoration: line-through;
    cursor: pointer;
}

ul {
    cursor: pointer;
}